
{% extends "base.html" %}


{% load static %}

{% block content %}
  {# Hero Section #}
  {% with page_name="products" %}
    {% include "includes/hero.html" %}
   
  {% endwith %}



<section class="product-section fade-in-on-scroll hidden-section">
    <div class="container">
        
        <!-- Agricultural Products -->
         {% if agricultural_products %}
        <div class="product-type-section" data-aos="fade-up" data-aos-delay="100">
            <h2>Processed Products</h2>
            <p class="des">Discover our Range of Agro Processed Products
            </p>
            <div class="product-grid">
                {% for product in agricultural_products %}
                <div class="product-card">
                    <a href="{{ product.get_absolute_url }}">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                        
                    </a>
                    <div class="card-body-product">
                            <h3> <a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h3>
                            <p class="product-description">{{ product.description|striptags|truncatewords:20 }}</p>
                            <!-- uncomment should you need price -->
                            <!-- <p class="product-price">₦{{ product.price }}</p> -->
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <!-- Farming Equipment -->
         {% if equipment_products %}
        <div class="product-type-section" data-aos="fade-up" data-aos-delay="100">
            <h2>Raw Products</h2>
            <p class="des">Discover our Range of Agro Raw Products</p>
            <div class="product-grid">
                {% for product in equipment_products %}
                <div class="product-card">
                    <a href="{{ product.get_absolute_url }}">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                       
                    </a>
                    <div class="card-body-product">
                        <h3> <a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h3>
                        <p class="product-description">{{ product.description|striptags|truncatewords:20 }}</p>
                        <!-- uncomment should you need price in furture -->
                        <!-- <p class="product-price">₦{{ product.price }}</p> -->
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</section>

 {% include "includes/book_demo_banner.html" %}

{% endblock %}