/* this animation is for the whole website, it's a simple fade in effect */
.hidden-section {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.7s ease-out;
}

.visible-section {
  opacity: 1;
  transform: translateY(0);
}
