<!-- templates/rearm/home_features.html -->
 {% load static %}
 <div class="features-grid">
  <div class="feature-card fade-in-on-scroll hidden-section">
    <div class="feature-header">
      <div class="feature-icon">■</div>
      <h3>Industry Focused Solutions </h3>
    </div>
    <p>We are deeply rooted in the agricultural sector, offering ecosystem support that promotes sustainable food production and strengthens the value chain—locally and globally. </p>
  </div>
  
  <div class="feature-card fade-in-on-scroll hidden-section">
    <div class="feature-header">
      <div class="feature-icon">■</div>
      <h3>Sustainability Commitments</h3>
    </div>
    <p>At REAA Resources Management Ltd, sustainability is at the heart of our operations. We source and supply agricultural products in a way that supports today’s needs without compromising the future. </p>
  </div>
  
  <div class="feature-card fade-in-on-scroll hidden-section">
    <div class="feature-header">
      <div class="feature-icon">■</div>
      <h3>Guaranteed Quality</h3>
    </div>
    <p>Our raw agricultural produce is natural, pure, and carefully selected to meet international quality standards. We stand by our promise to deliver only the finest products to our clients. </p>
  </div>
  
  
</div>